Package: com.b4db1r3.inthedark
Name: InTheDark
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: b3db1r3
Author: b3db1r3
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
